* {
  font-family: "Inter", sans-serif;
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;

  width: 100vw;
  height: 70px;
}

h1 {
  width: 212px;
  max-width: 20%;
  height: 24px;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  margin: 23px;
  color: #000000;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.navbar li {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #333333;
}

.main-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.products-container {
  width: 70%;
}

.products-container ul {
  display: flex;
  flex-wrap: wrap;
}

.products-container ul li {
  width: 296px;
  height: 511px;
  margin: 20px;
  background-color: #f5f5f5;
}
